{% extends 'layouts/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Bienvenido a la Página Principal</h1>
    <p class="text-center">Selecciona una sección para navegar:</p>

    <div class="row justify-content-center">
        <div class="col-md-3">
            <a href="{% url 'album_index' %}" class="btn btn-primary btn-block">📸 Álbum</a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'newspaper_index' %}" class="btn btn-success btn-block">📰 Periódico</a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'tareas_index' %}" class="btn btn-warning btn-block">📌 Tareas</a>
        </div>
    </div>
</div>
{% endblock %}
