{% extends 'layouts/base.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<div class="container mt-5">
    <h1 class="text-center">Bienvenido a la Página Principal</h1>
    <p class="text-center">Selecciona una sección para navegar:</p>

    <div class="row justify-content-center">
        <div class="col-md-3">
            <a href="{% url 'lista_fotos' %}" class="btn btn-primary btn-block">📸 Álbum</a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'lista_noticias' %}" class="btn btn-success btn-block">📰 Periódico</a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'lista_tareas' %}" class="btn btn-warning btn-block">📌 Tareas</a>
        </div>
    </div>
</div>
{% endblock %}
